---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PageTitle from "../../components/PageTitle.astro";

const title = "About Me";
const metaTitle = title;
---

<BaseLayout metaTitle={metaTitle}>
    <PageTitle>{title}</PageTitle>
    <p
        class="mb-8 px-content-inset text-base text-(--color-text-second) dark:text-(--color-text-second-dark) leading-relaxed"
    >
        I'm a Japanese develper and data science student, studying in the U.S.
        I'm particulary interested in open source, Data Science, AI/ML, CLI/TUI
        tools, and Zig. I strongly believe technology built with good philosophy
        and enthusiastic collaboration will make the world better and advance
        humanity. I try to enbody that, and that's my ethos.<br /><br />Born in
        2004, Kuwana, Mie, Japan. Raised in Inabe, Mie, Japan. Tsuda Oyamada
        kindergarden, Ishigure-higashi elementary school, Daian junior
        highschool, Tsuda Gakuen highschool, N highschool, De Anza College.
    </p>
</BaseLayout>
