---
import BaseLayout from "../../layouts/BaseLayout.astro";
const title = "About - Koichi Nakayamada";
const h1 = "About";
---

<BaseLayout title={title} h1={h1}>
    <p
        class="mb-8 text-base text-(--color-text-second) dark:text-(--color-text-second-dark) leading-relaxed"
    >
        I love Neovim.
    </p>
</BaseLayout>
