---
import BaseLayout from "../../layouts/BaseLayout.astro";
const title = "About";
---

<BaseLayout title={title}>
    <p
        class="mb-8 text-base text-(--color-text-second) dark:text-(--color-text-second-dark) leading-relaxed"
    >
        I love Neovim.
    </p>
</BaseLayout>
