/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    gap: 15px;
    margin-top: 80px;
}

.navbar a {
    font-size: 2em;
    text-decoration: none;
    color: black;
    margin: 10px;
}

.navbar a:first-child {
    font-weight: bold;
}

.navbar i {
    color: black;
    margin-left: 5px;
}

.navbar a:hover,
.navbar i:hover {
    color: #007aff;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* gallery */
.gallery {
    width: 100%;
    max-width: 1200px;
    margin: 100px auto;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    text-align: center;
}

/* gallery Box */
.gallery-box {
    width: 100%;
    max-width: 300px;
    text-align: left;
}

.gallery-box img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 2px;
}

.gallery-box h1 {
    font-size: 1.85em;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.gallery-box p {
    font-size: 1.25em;
    color: #555;
    margin-top: 5px;
}

.gallery-box h1 a,
.gallery-box p a {
    text-decoration: underline;
    color: inherit;
}

.gallery-box h1 a:hover,
.gallery-box p a:hover {
    color: #007aff;
    text-decoration: underline;
}

/* Blog List */
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.blog-list {
    width: 100%;
    max-width: 1000px;
    margin: px auto;
    padding: 0 20px;
}

.blog-entry {
    padding: 20px 0;
    margin-bottom: 20px;
}

.blog-entry h1 {
    font-size: 1.8em;
    font-weight: 600;
    color: #111;
    margin: 0 0 10px;
}

.date {
    font-size: 1em;
    color: #777;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.1em;
    color: #555;
    font-weight: 300;
    margin: 0;
}

/* Responsive */
@media (max-width: 1024px) {
    .gallery {
        padding: 0 5%;
    }
    .gallery-box img {
        height: auto;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .navbar a,
    .navbar i {
        font-size: 1.2em;
    }

    .gallery-grid {
        grid-template-columns: 1fr;
    }
}