<nav class="header">
    <div class="header__container">
        <div class="header__main-link">
            <a href="/">Koichi Nakayamada</a>
        </div>
        <div class="header__page-links">
            <a href="/project/">Projects</a>
            
            <a href="/blog/">Blogs</a>
            <a href="/about/">About</a>
        </div>
        <div class="header__social-links">
            <a href="https://x.com/koichincom" target="_blank" rel="noopener">
                <i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://linkedin.com/in/koichincom" target="_blank" rel="noopener">
                <i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/koichincom" target="_blank" rel="noopener">
                <i class="fa-brands fa-github"></i></a>
        </div>
        <div class="header__menu-toggle">
            <i class="fa-solid fa-grip-lines"></i>
        </div>
    </div>
</nav>

<div class="mobile-menu">
    <nav class="mobile-menu__content">
        <div class="mobile-menu__page">
            <a href="/project/">Projects</a>
            <a href="/blog/">Blogs</a>
            <a href="/about/">About</a>
            
        </div>
        <div class="mobile-menu__social">
            <a href="https://x.com/koichincom" target="_blank" rel="noopener">
                <i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://linkedin.com/in/koichincom" target="_blank" rel="noopener">
                <i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/koichincom" target="_blank" rel="noopener">
                <i class="fa-brands fa-github"></i></a>
        </div>
    </nav>
</div>