<nav class="navbar">
    <a href="/" class="nav-link" id="home-link">Koichi Nakayamada</a>
    <a href="/mainpages/project/" class="nav-link" id="project-link">project</a>
    <a href="/mainpages/blog/" class="nav-link" id="blog-link">blog</a>
    <a href="/mainpages/about/" class="nav-link" id="about-link">about</a>
    <div class="social-links">
        <a href="https://twitter.com/koichincom" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://github.com/koichincom" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://linkedin.com/in/koichincom" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
</nav>