@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-background: #f1f1f1;
    --color-hover: #e5e5e5;
    --color-divider: #d4d4d4;
    --color-text-first: #171717;
    --color-text-second: #333333;
    --color-text-third: #666666;
    --color-accent-light: #eb6101;

    --color-background-dark: #111111;
    --color-hover-dark: #262626;
    --color-divider-dark: #2f2f2f;
    --color-text-first-dark: #f1f1f1;
    --color-text-second-dark: #e5e5e5;
    --color-text-third-dark: #9e9e9e;
    --color-accent-dark: #eb6101;

    --spacing-inline-edge: calc(var(--spacing) * 3);
    --spacing-content-inset: var(--spacing-inline-edge);
    --spacing-surface-inset: var(--spacing-inline-edge);
    --spacing-list-divider-inset: var(--spacing-content-inset);
}

@theme inline {
    --font-sans: var(--font-iosevka-aile);
}

@layer base {
    html {
        overscroll-behavior-y: none;
    }

    a {
        @apply underline underline-offset-4 hover:text-accent-light dark:hover:text-accent-dark;
    }

    /* light/dark mode for code blocks, using Astro's built-in Shiki syntax highlighting */
    /* https://docs.astro.build/en/guides/syntax-highlighting/ */
    @media (prefers-color-scheme: dark) {
        .astro-code,
        .astro-code span {
            color: var(--shiki-dark) !important;
            background-color: var(--shiki-dark-bg) !important;
            font-style: var(--shiki-dark-font-style) !important;
            font-weight: var(--shiki-dark-font-weight) !important;
            text-decoration: var(--shiki-dark-text-decoration) !important;
        }
    }
}
