@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../**/*.astro";

@theme {
    --color-background: #f1f1f1;
    --color-hover: #e5e5e5;
    --color-divider: #d4d4d4;
    --color-text-first: #171717;
    --color-text-second: #333333;
    --color-text-third: #666666;
    --color-accent-light: #eb6101;

    --color-background-dark: #111111;
    --color-hover-dark: #262626;
    --color-divider-dark: #2f2f2f;
    --color-text-first-dark: #f1f1f1;
    --color-text-second-dark: #e5e5e5;
    --color-text-third-dark: #9e9e9e;
    --color-accent-dark: #eb6101;
}

@theme inline {
    --font-sans: var(--font-iosevka-aile);
}

@media (prefers-color-scheme: dark) {
    .astro-code,
    .astro-code span {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
        text-decoration: var(--shiki-dark-text-decoration) !important;
    }
}
