@import "tailwindcss";
@source "../**/*.{astro,html,js,ts,jsx,tsx}";

:root {
  --color-background: #ffffff;
  --color-text-first: #000000;
  --color-text-second: #555555;
  --color-text-third: #999999;
  --color-accent: #ff8c00;

  --color-background-dark: #1a1a1a;
  --color-text-first-dark: #ffffff;
  --color-text-second-dark: #cccccc;
  --color-text-third-dark: #888888;
  --color-accent-dark: #ffa500;
}

@layer base {
  body {
    font-family: "JetBrains Mono", monospace;
    line-height: 1.6;
    letter-spacing: 0.01em;
    background-color: var(--color-background);
    color: var(--color-text-first);
  }
}

