---
layout: default
title: Projects
---

<div class="page-title">
    <h1>Projects</h1>
</div>

<div class="post-list">
    {% assign all_projects = site.posts
    | where: "categories", "project"
    | sort: "title"
    | reverse
    %}

    {% for post in all_projects %}
    {% if forloop.index0 < 30 %} <li class="post-item">
        <h2 class="post-title">
            <a href="{{ post.url | relative_url }}" class="post-link" data-index="{{ forloop.index0 }}">
                {{ post.title }}
            </a>
        </h2>
        <p class="post-info">{{ post.subtitle }}
        </li>
        {% else %}
        <li class="post-item hidden">
            <h2 class="post-title">
                <a href="{{ post.url | relative_url }}" class="post-link" data-index="{{ forloop.index0 }}">
                    {{ post.title }}
                </a>
            </h2>
            <p class="post-info">{{ post.subtitle }}
        </li>
        {% endif %}
        {% endfor %}
</div>

{% if all_projects.size > 30 %}
<div class="load-more-container">
    <button id="load-more-projects" class="load-more-button">Load more</button>
</div>
{% endif %}