---
layout: default
title: Projects
---
<div class="page-title">
    <h1>Project</h1>
</div>

<div class="post-list">
    {% assign projects = site.posts | where: "categories", "project" %}
    {% for post in projects limit: 10 %}
    <div class="post">
        <div class="title">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </div>
        <div class="subtitle">
            <p>{{ post.subtitle }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="post-list-hidden" style="display: none;">
    {% assign hidden_projects = site.posts | where: "categories", "project" | offset: 10 %}
    {% for post in hidden_projects %}
    <div class="post">
        <div class="title">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </div>
        <div class="subtitle">
            <p>{{ post.subtitle }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% if blogs.size > 10 %}
<div class="load-more-container">
    <button id="load-more" class="load-more">Load More</button>
</div>
{% endif %}