---
layout: default
title: Projects
---

<div class="layout-page-title">
    <h1>Projects</h1>
</div>

<section class="home__projects">
    <div class="card-grid">
        {% assign all_projects = site.posts
        | where: "categories", "project"
        | sort: "date"
        | reverse
        %}

        {% for post in all_projects %}
        <a href="{{ post.url | relative_url }}" class="card">
            <div class="card__image">
                {% if post.hero_image %}
                <img src="{{ post.hero_image }}" alt="{{ post.title }}" loading="lazy">
                {% else %}
                <img src="/images/optimized/general/post-default.webp" alt="{{ post.title }}" loading="lazy">
                {% endif %}
            </div>
            <div class="card__info">
                <div class="card__title">{{ post.title }}</div>
                {% if post.subtitle %}
                <div class="card__desc">{{ post.subtitle }}</div>
                {% endif %}
            </div>
        </a>
        {% endfor %}
    </div>
</section>
