---
import BaseLayout from "../../layouts/base.astro";
const title = "Koichi's Clubs";
const h1 = "Clubs";
---

<BaseLayout title={title} h1={h1}>
    <div class="max-w-prose">
    <p class="mb-8 text-base text-(--color-text-second) dark:text-(--color-text-second-dark)">
        Here are two clubs I'm leading at De Anza College. Join our Discord even
        if you're not studying there!
    </p>
    <div class="mb-8">
        <h2
            class="text-lg sm:text-xl font-semibold mb-3 text-(--color-text-first) dark:text-(--color-text-first-dark)"
        >
            De Anza Human Computer Interaction
        </h2>
        <p class="mb-4 text-base text-(--color-text-second) dark:text-(--color-text-second-dark)">
            We often use Computer Vision and Brain-Computer Interfaces to
            explore the applications of ML and technology in HCI.
        </p>
        <a
            href="https://discord.gg/TF38g4AGtk"
            target="_blank"
            rel="noopener noreferrer"
            class="text-(--color-accent-light) dark:text-(--color-accent-dark) underline underline-offset-4 hover:text-(--color-accent-light) dark:hover:text-(--color-accent-dark) transition-colors duration-200"
        >
            Join our Discord
        </a>
    </div>
    <div class="mb-8">
        <h2
            class="text-lg sm:text-xl font-semibold mb-3 text-(--color-text-first) dark:text-(--color-text-first-dark)"
        >
            De Anza Applied Data Analytics
        </h2>
        <p class="mb-4 text-base text-(--color-text-second) dark:text-(--color-text-second-dark)">
            We focus and learn toghther about Data Science and ML, by working on
            projects and joining Kaggle competitions.
        </p>
        <a
            href="https://discord.gg/KP297tkq3X"
            target="_blank"
            rel="noopener noreferrer"
            class="text-(--color-accent-light) dark:text-(--color-accent-dark) underline underline-offset-4 hover:text-(--color-accent-light) dark:hover:text-(--color-accent-dark) transition-colors duration-200"
        >
            Join our Discord
        </a>
    </div>
    </div>
</BaseLayout>
