---
import BaseLayout from "../layouts/base.astro";
const title = "404 Not Found";
const h1 = "404 Not Found";
---

<BaseLayout title={title} h1={h1}>
    <p>The page you are looking for does not exist. Here's the <a href="/">Homepage</a>.</p>
</BaseLayout>
