---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getLangFromUrl } from "../i18n/utils";
import { useTranslations } from "../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const title = `404 - ${t("404.title")}`;
const h1 = t("404.title");
---

<BaseLayout title={title} h1={h1}>
    <p class="text-(--color-text-second) dark:text-(--color-text-second-dark)">
        {t("404.message")}
    </p>
    <a
        href="/"
        class="mt-4 inline-block text-(--color-accent-light) dark:text-(--color-accent-dark) underline decoration-transparent underline-offset-4 hover:decoration-current"
    >
        {t("404.backHome")}
    </a>
</BaseLayout>
