---
import BaseLayout from "../layouts/base.astro";
const title = "About - Koichi Nakayamada";
const h1 = "About Koichi";
---

<BaseLayout title={title} h1={h1}>
    <p class="mb-8 text-base text-(--color-text-second) dark:text-(--color-text-second-dark) leading-relaxed">
        Hi there! I'm Koichi, a passionate developer who loves creating things with code.
        This is a placeholder about page with some fake content to demonstrate the layout.
        In a real about page, you'd find more details about my background, interests, and maybe some photos.
        For now, this is just a simple paragraph to fill the space.
        Feel free to explore the rest of the site!
    </p>
</BaseLayout>
