---
import BaseLayout from "../layouts/base.astro";
const title = "About Koichi";
const h1 = "About";
---

<BaseLayout title={title} h1={h1}>
    <p class="mb-4 text-(--color-text-second) dark:text-(--color-text-second-dark)">I was born in Mie, Japan. </p>
</BaseLayout>
