---
import BaseLayout from "../layouts/base.astro";
const title = "Koichi's Clubs";
---

<BaseLayout title={title}>
    <h1>Clubs</h1>
    <p>Here are two clubs I'm leading at De Anza College. Join our Discord even if you're not studying there!</p>
</BaseLayout>
