---
import BaseLayout from "../layouts/base.astro";
const title = "I'm Koichi";
const h1 = "Hello, I'm Koichi";

const birthDate = new Date(2004, 11, 9); // December 9, 2004
const today = new Date();
const age =
    today.getFullYear() -
    birthDate.getFullYear() -
    (today <
    new Date(today.getFullYear(), birthDate.getMonth(), birthDate.getDate())
        ? 1
        : 0);
---

<BaseLayout title={title} h1={h1}>
    <div class="max-w-prose">
        <p class="mb-8 sm:mb-12 text-base text-(--color-text-second) dark:text-(--color-text-second-dark)">
        I'm a {age}-year-old Japanese Data Science undergraduate student. I love coding, solving problems, and I live on the terminal.
        <a
            href="/writing"
            class="text-base text-(--color-text-link) dark:text-(--color-text-link-dark) underline underline-offset-4 hover:text-(--color-accent-light) dark:hover:text-(--color-accent-dark) transition-colors duration-200"
        >Check out my writing</a> And I was like Wtf this is so cool!
        </p>
    </div>
</BaseLayout>
