---
import BaseLayout from "../layouts/base.astro";
const title = "Koichi Nakayamada";
const h1 = "Koichi Nakayamada";

const birthDate = new Date(2004, 11, 9); // December 9, 2004
const today = new Date();
const age =
    today.getFullYear() -
    birthDate.getFullYear() -
    (today <
    new Date(today.getFullYear(), birthDate.getMonth(), birthDate.getDate())
        ? 1
        : 0);
---

<BaseLayout title={title} h1={h1}>
    <p class="mb-8 sm:mb-12 text-base text-(--color-text-second) dark:text-(--color-text-second-dark) leading-relaxed">
        I'm a {age}-years old Data Science student, hacker, and positive-nihilist, born and raised in Japan and currently studying in the States.
        I aim "technical philantropy," which to contribute to humanity through technological works based on the love to the human kind.
        I live in the terminal.
    </p>

</BaseLayout>
