---
layout: default
title: Blogs
---

<div class="page-title">
    <h1>Blogs</h1>
</div>

<ul class="post-list">
    {% assign all_blogs = site.posts
    | where: "categories", "blog"
    | sort: "date"
    | reverse
    %}

    {% for post in all_blogs %}
    {% if forloop.index0 < 30 %}
        <li class="post-item">
            <h2 class="post-title">
                <a href="{{ post.url | relative_url }}" class="post-link" data-index="{{ forloop.index0 }}">
                    {{ post.title }}
                </a>
            </h2>
            <p class="post-info">{{ post.subtitle }} / {{ post.date | date: "%B %d, %Y" }}</p>
        </li>
        {% else %}
        <li class="post-item hidden">
            <h2 class="post-title">
                <a href="{{ post.url | relative_url }}" class="post-link" data-index="{{ forloop.index0 }}">
                    {{ post.title }}
                </a>
            </h2>
            <p class="post-info">{{ post.subtitle }} / {{ post.date | date: "%B %d, %Y" }}</p>
        </li>
        {% endif %}
        {% endfor %}
</ul>

{% if all_blogs.size > 30 %}
<div class="load-more-container">
    <button id="load-more" class="load-more-button">Load more</button>
</div>
{% endif %}