---
layout: default
title: Blog - Koichi Nakayamada
pagination: true
---

<div class="blog-list">
    {% for post in paginator.posts %}
    <div class="blog-entry">
        <div class="content">
            <div class="title">
                <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            </div>
            {% capture full_content %}{{ post.content }}{% endcapture %}

            <!--Truncate the content to 1000 words-->
            {% capture excerpt %}{{ full_content | truncatewords: 1000 }}{% endcapture %}
            {{ excerpt }}

            <!--If the content is truncated, show the "Read more" link-->
            {% if full_content != excerpt %}
            <br>
            <a href="{{ post.url }}" class="read-more">Read more</a>
            {% endif %}
            <p class="date">{{ post.date | date: "%B %d, %Y" }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="prev">Previous</a>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    <a href="{% if page == 1 %}/blog/{% else %}/blog/page{{ page }}/{% endif %}"
       class="{% if paginator.page == page %}current{% endif %}">
        {{ page }}
    </a>
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% endif %}
</div>