<nav
    class="mt-8 flex flex-wrap gap-4 sm:gap-6 text-xs sm:text-sm text-(--color-text-second) dark:text-(--color-text-second-dark)"
>
    <a
        href="mailto:hi@koichin.com"
        class="hover:text-(--color-accent-light) dark:hover:text-(--color-accent-dark) transition-colors duration-200"
        >Email</a
    >
    <a
        href="https://github.com/koichincom"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-(--color-accent-light) dark:hover:text-(--color-accent-dark) transition-colors duration-200"
        >GitHub</a
    >
    <a
        href="https://x.com/koichincom"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-(--color-accent-light) dark:hover:text-(--color-accent-dark) transition-colors duration-200"
        >Twitter</a
    >
    <a
        href="https://linkedin.com/in/koichincom/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-(--color-accent-light) dark:hover:text-(--color-accent-dark) transition-colors duration-200"
        >LinkedIn</a
    >
</nav>
