<nav
    class="mt-8 flex gap-6 text-sm text-(--color-text-second) dark:text-(--color-text-second-dark) transition-colors duration-200"
>
    <a
        href="mailto:hi@koichin.com"
        class="hover:text-(--color-accent) dark:hover:text-(--color-accent-dark)"
        >Email</a
    >
    <a
        href="https://github.com/koichincom"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-(--color-accent) dark:hover:text-(--color-accent-dark)"
        >GitHub</a
    >
    <a
        href="https://x.com/koichincom"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-(--color-accent) dark:hover:text-(--color-accent-dark)"
        >Twitter</a
    >
    <a
        href="https://linkedin.com/in/koichincom/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-(--color-accent) dark:hover:text-(--color-accent-dark)"
        >LinkedIn</a
    >
</nav>
