---
---

<nav>
    <a href="mailto:hi@koichin.com">Email</a>
    <a
        href="https://github.com/koichincom"
        target="_blank"
        rel="noopener noreferrer">GitHub</a
    >
    <a href="https://x.com/koichincom" target"_blank" rel="noopener noreferrer"
        >Twitter</a
    >
    <a
        href="https://linkedin.com/in/koichincom/"
        target="_blank"
        rel="noopener noreferrer">LinkedIn</a
    >
    
</nav>
