---
const currentPath = Astro.url.pathname;
const isHome = currentPath === "/";
const isBlog = currentPath === "/blog";
const isBlogPost = currentPath.startsWith("/blog/");
const isProjects = currentPath.startsWith("/proj");
const isClub = currentPath.startsWith("/club");
const isVision = currentPath.startsWith("/vision");
---

<nav
    class="mb-8 flex flex-wrap gap-4 sm:gap-6 text-base text-(--color-text-second) dark:text-(--color-text-second-dark)"
>
    {
        isHome ? (
            <span class="text-(--color-accent-light) dark:text-(--color-accent-dark)">
                <span class="hidden sm:inline">[h] </span>Home
            </span>
        ) : (
            <a
                href="/"
                class="hover:text-(--color-accent-light) dark:hover:text-(--color-accent-dark) transition-colors duration-200"
            >
                <span class="hidden sm:inline">[h] </span>Home
            </a>
        )
    }
    {
        isBlog ? (
            <span class="text-(--color-accent-light) dark:text-(--color-accent-dark)">
                <span class="hidden sm:inline">[b] </span>Blog
            </span>
        ) : (
            isBlogPost ? (
                <a
                    href="/blog"
                    class="text-(--color-accent-light) dark:text-(--color-accent-dark)"
                >
                    <span class="hidden sm:inline">[b] </span>Blog
                </a>
            ) : (
            <a
                href="/blog"
                class="hover:text-(--color-accent-light) dark:hover:text-(--color-accent-dark) transition-colors duration-200"
            >
                <span class="hidden sm:inline">[b] </span>Blog
            </a>
        )
        )
    }
    {
        isProjects ? (
            <span class="text-(--color-accent-light) dark:text-(--color-accent-dark)">
                <span class="hidden sm:inline">[p] </span>Projects
            </span>
        ) : (
            <a
                href="/proj"
                class="hover:text-(--color-accent-light) dark:hover:text-(--color-accent-dark) transition-colors duration-200"
            >
                <span class="hidden sm:inline">[p] </span>Projects
            </a>
        )
    }
    {
        isClub && (
            <span class="text-(--color-accent-light) dark:text-(--color-accent-dark)">
                <span class="hidden sm:inline">[c] </span>Club
            </span>
        )
    }
    {
        isVision && (
            <span class="text-(--color-accent-light) dark:text-(--color-accent-dark)">
                <span class="hidden sm:inline">[v] </span>Vision
            </span>
        )
    }
</nav>
