---
import TrailingIcon from "./TrailingIcon.astro";
import ArrowIcon from "../assets/arrow-up-right.svg";

export interface Props {
    href: string;
    class?: string;
    ariaLabel?: string;
    iconClass?: string;
}

const {
    href,
    class: className = "",
    ariaLabel,
    iconClass = "w-[1lh] h-[1lh]",
} = Astro.props;
---

<!-- prettier-ignore -->
<a
    href={href}
    class={className}
    aria-label={ariaLabel}
    target="_blank"
    rel="noopener noreferrer"
><TrailingIcon><slot /><!--
--><ArrowIcon slot="icon" class={iconClass} /></TrailingIcon></a>
