---
import type { TocHeading } from "../utils/table-of-contents";

export interface Props {
    headings: TocHeading[];
}

const { headings } = Astro.props;
---

<nav
    aria-label="Table of contents"
    class="hidden lg:block lg:sticky lg:top-[var(--layout-main-start-offset)] lg:max-h-[calc(100dvh-var(--layout-main-start-offset)-var(--spacing-content-inset))] lg:overflow-y-auto lg:overscroll-contain self-start"
>
    <ol class="space-y-2">
        {
            headings.map((heading) => (
                <li>
                    <a
                        href={`#${heading.slug}`}
                        class="text-base text-(--color-text-second) dark:text-(--color-text-second-dark)"
                    >
                        {heading.text}
                    </a>
                </li>
            ))
        }
    </ol>
</nav>
