<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description | default: 'Blog post by Koichi Nakayamada.' }}">
    <meta name="keywords" content="Blog, Koichi Nakayamada">
    <meta name="author" content="Koichi Nakayamada">
    <link rel="stylesheet" href="/styles/blog.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>
{% include navbar.html %}

<!-- Blog Content -->
<main class="blog-content">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %d, %Y" }}</p>
    <div class="content">
        {{ content }}
    </div>
</main>

{% include footer.html %}
</body>

</html>