<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>
{% include navbar.html %}
<main class="content">
    {{ content }}
</main>
<script src="/scripts/navbar.js"></script>
<script src="/scripts/theme-toggle.js"></script>
<script src="/scripts/copy-link.js"></script>
{% include footer.html %}

</body>

</html>
