<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="icon" href="{{ site.baseurl }}/images/favicon.ico">
</head>

<body>
    {% include header.html %}
    <main class="body-container">
        {{ content }}
    </main>
    {% include footer.html %}
    <script src="/scripts/sidebar.js"></script>
    <script src="/scripts/load-posts.js"></script>
    <script src="/scripts/target-blank.js"></script>
</body>

</html>