<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog post by Koichi Nakayamada">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    {% include header.html %}

    <main class="post-content">
        <div class="container">
            <article class="content">
                <div class="title">
                    <h1>{{ page.title }}</h1>
                </div>
                <p class="meta">
                    {{ page.date | date: "%B %d, %Y" }}
                    {% if page.revised-date %}
                    / Revised: {{ page.revised-date | date: "%B %d, %Y" }}
                    {% endif %}
                </p>
                {{ content }}
            </article>
        </div>
    </main>

    {% include footer.html %}

    <script src="/scripts/sidebar.js" defer></script>
    <script src="/scripts/theme-toggle.js" defer></script>
    <script src="/scripts/header.js"></script>
</body>

</html>