<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="subtitle" content="Blog post by Koichi Nakayamada">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="icon" href="{{ site.baseurl }}/images/favicon.ico">
</head>
<body>
    {% include header.html %}
    <main class="body-container">
        <post class="post">
            <div class="post__title">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="post__meta">
                {% if page.subtitle %}
                <p class="post__subtitle">{{ page.subtitle }}</p>
                {% endif %}
                <p class="post__date">{{ page.date | date: "%B %d, %Y" }}</p>
            </div>
            {% if page.hero_image %}
            <div class="post__hero-image">
                <img src="{{ page.hero_image }}" alt="{{ page.title }}">
            </div>
            {% endif %}
            <div class="post__content">
                {{ content }}
            </div>
        </post>
    </main>
    {% include footer.html %}
    <script src="/src/navigation.js"></script>
</body>
</html>