<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="subtitle" content="Blog post by Koichi Nakayamada">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
    {% include header.html %}

    <main class="container">
            <article class="post">
                <p class="date">
                    {{ page.date | date: "%B %d, %Y" }}
                </p>
                <div class="title">
                    <h1>{{ page.title }}</h1>
                </div>
                <div class="subtitle">
                    <p>{{ page.subtitle }}</p>
                </div>
                {{ content }}
            </article>
    </main>

    {% include footer.html %}

    <script src="/scripts/sidebar.js"></script>
    <script src="/scripts/header.js"></script>
</body>

</html>