---
import ProseLayout from "./ProseLayout.astro";
import type { TocHeading } from "../utils/table-of-contents";

export interface Props {
    title: string;
    headings?: TocHeading[];
}
const { title, headings } = Astro.props;
---

<ProseLayout title={title} headings={headings}>
    <slot name="sidebar-meta" slot="sidebar-meta" />
    <div class="lg:hidden">
        <slot name="meta" />
    </div>
    <slot />
</ProseLayout>
