---
import { formatDate } from "../utils/date-formatter";
import ProseLayout from "./ProseLayout.astro";

export interface Props {
    title: string;
    effectiveDate?: Date;
}
const { title, effectiveDate } = Astro.props;
const website = "https://koichin.com";
const owner = "Koichi Nakayamada";
const formattedEffectiveDate = effectiveDate
    ? formatDate(effectiveDate)
    : "";
---

<ProseLayout title={title}>
    <p>
        Effective date: {formattedEffectiveDate}<br />
        Website: {website}<br />
        Owner: {owner}
    </p>
    <slot />
</ProseLayout>
