---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PageTitle from "../../components/PageTitle.astro";
import WritingList from "../../components/WritingList.astro";

const title = "Writing";
const metaTitle = `${title} | Koichi Nakayamada`;

const writingPosts = (await getCollection("writing")).sort((a, b) => {
    const pinnedDelta =
        Number(b.data.pinned ?? false) - Number(a.data.pinned ?? false);
    if (pinnedDelta !== 0) {
        return pinnedDelta;
    }
    return (
        new Date(b.data.published).getTime() -
        new Date(a.data.published).getTime()
    );
});
---

<BaseLayout metaTitle={metaTitle}>
    <PageTitle>{title}</PageTitle>
    <div class="pb-4">
        <WritingList posts={writingPosts} />
    </div>
</BaseLayout>
