body {
    font-family: Arial, sans-serif;
    background-color: var(--back);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color: var(--text);
    text-decoration: underline;
    text-decoration-color: var(--gray);
    text-decoration-thickness: 2px;
    transition: text-decoration-color 0.5s;
}

a:hover {
    text-decoration-color: var(--text);
}

p, h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: var(--text);
}

::selection {
    background-color: var(--black);
    color: var(--white);
}

:root {
    --text: #080808;
    --back: #f9f9f9;
    --black: #000;
    --white: #fff;
    --gray: #8c8c8c;
}

@media (prefers-color-scheme: dark) {
    :root{
    --text: #fff;
    --back: #080808;
    --black: #fff;
    --white: #000;
    --gray: #8c8c8c;
    }
}

.header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: rgba(249, 249, 249, 0.5);
        backdrop-filter: blur(10px);
        transition: transform 0.5s ease, background-color 0.5s ease;
        z-index: 1000;
    }

.spacer {
    height: 50px;
}

.header.hide {
    transform: translateY(-100%);
}

.header .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
}

.header .container a {
    text-decoration: none;
}

.main-link {
    flex-shrink: 0;
}

.page-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;
}

.social-links {
    flex-shrink: 0;
    display: flex;
    gap: 20px;
}

.menu-toggle {
    display: none;
}

.sidebar {
    position: fixed;
    top: 60px;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: var(--back);
    z-index: 2000;
    transition: right 0.3s ease;
}

.sidebar.open {
    right: 0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 250px;
    width: calc(100% - 250px);
    height: 100%;
    z-index: 1500;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.overlay.active {
    display: block;
    opacity: 1;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar .page-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar .page-links a {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .header {
        height: 40px;
    }

    .header .container {
        height: 40px;
    }

    .spacer {
        height: 40px;
    }

    .main-link a {
        font-size: 1rem;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        color: var(--text);
        font-size: 1rem;
    }

    .page-links,
    .social-links {
        display: none;
    }

    .sidebar {
        display: block;
    }

    .sidebar .page-links a::after,
    .sidebar .page-links a:hover::after,
    .sidebar .page-links a.active::after {
        content: none;
    }
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.post {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.post .title {
    margin-bottom: 5px;
    max-width: 100%;
}

.post .title a {
    font-size: 1.6rem;
    line-height: 1;
    display: inline-block;
    max-width: 100%;
}

.content .subtitle {
    margin-bottom: 10px;
    max-width: 100%;
}

.content .subtitle p {
    font-size: 1rem;
    line-height: 1;
    word-wrap: break-word;
    margin: 0;
    text-align: center;
}

.content {
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    line-height: 1.6;
    padding: 0 20px;
}

.content .date {
    font-size: 1rem;
    text-align: center;
}

.content .title h1 {
    font-size: 3rem;
    margin: 0 auto;

    text-align: center;
}

.content h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.content h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.content p {
    font-size: 18px;
    line-height: 1.75;
}

.content blockquote {
    font-size: 18px;
    line-height: 1.8;
    padding: 15px 25px;
    background-color: var(--white);
    margin: 30px 0;
    text-align: left;
    border-radius: 5px;
}

.content ul {
    list-style-type: disc;
    margin: 20px 0;
    padding-left: 40px;
    font-size: 18px;
    line-height: 1.75;
}

.content ol {
    list-style-type: decimal;
    margin: 20px 0;
    padding-left: 40px;
    font-size: 18px;
    line-height: 1.75;
}

.footer {
    width: 100%;
    height: 100px;
    margin: 0;
}