/********************************
    ✅ General Settings
********************************/

html {
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--back);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 0 30px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}

:root {
    /* Variables */
    --line-height: 1.75;
    --transition: 0.3s;
    --header-height: 60px;

    /* Colors */
    --text: #080808;
    --text-sub: #555;
    --back: #f9f9f9;
    --black: #000;
    --white: #fff;
    --gray: #b4b4b4;
    --trans: rgba(249, 249, 249, 0.8);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #f9f9f9;
        --text-sub: #aaa;
        --back: #121212;
        --black: #fff;
        --white: #000;
        --gray: #777;
        --trans: rgba(18, 18, 18, 0.5);
    }
}

::selection {
    background-color: var(--black);
    color: var(--white);
}

/********************************
    ✅ General Styles
********************************/

* {
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: normal;
    color: var(--text);
    line-height: var(--line-height);
    transition: text-decoration-color var(--transition) ease;
}

p {
    font-size: 1rem;
}

h1 {
    font-size: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 0;
}

h2 {
    font-size: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 0;
}

b {
    font-weight: bold;
}

a {
    text-decoration: underline;
    text-decoration-color: var(--gray);
    text-decoration-thickness: 0.1rem;
}

a:hover {
    text-decoration-color: var(--text);
}

blockquote {
    font-size: 1rem;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
}

ul,
ol {
    list-style-position: outside;
    padding: 1rem 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-block;
    text-align: center;
    padding: 0.5rem 1rem;
    margin: 2rem 0;
    border: 0;
    border-radius: 2rem;
    background-color: var(--text);
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--text-sub);
}

.page-title h1 {
    font-size: 3.5rem;
    text-align: center;
    padding: 0;
    padding-bottom: 3rem;
}

/********************************
    🟡 Header
********************************/

.header {
        position: fixed;
        width: 100%;
        height: var(--header-height);
        background-color: var(--trans);
        backdrop-filter: blur(5px);
        transition: transform var(--transition) ease;
        z-index: 1000;
    }

.spacer {
    height: var(--header-height);
}

.header.hide {
    transform: translateY(-100%);
}

.header .container {
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
    max-width: 1150px;
}

.header .container a {
    text-decoration: none;
}

.main-link,
.page-links,
.social-links,
.menu-toggle {
    color: var(--text);
    display: flex;
    font-size: 0.95rem;
}

.main-link {
    flex-shrink: 0;
}

.page-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 35px;
}

.social-links {
    gap: 20px;
}

.menu-toggle {
    display: none;
}

@media (max-width: 768px) {

    .header.open {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--trans);
        z-index: 1001;
    }

    .header.open .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .header.open .menu-toggle,
    .header.open .main-link {
        display: none;
    }

    .header.open .page-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        font-size: 2rem;
    }

    .page-links,
    .social-links,
    .header-open .menu-toggle {
        display: none;
    }

    .menu-toggle {
        display: block;
    }
}

/********************************
    ✅ Footer
********************************/

.footer {
    height: 100px;
    justify-content: center;
    align-items: center;
}

/********************************
    🟡 Home
********************************/

.section-header {
    margin: 2rem 0;
}

.home-header {
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--text);
    text-align: center;
    padding: 0; 
}

.view-all a {
    margin: 0;
    padding: 0;
    text-align: center important;
}

/********************************
    🟡 Post List
********************************/

.post-list {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.post-item {
    line-height: var(--line-height);
    padding-bottom: 2rem;
}

.post-item .postg-title {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.post-item .post-title a {
    text-decoration: none;
}

.post-item .post-info {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

/********************************
    ✅ Individual Post
********************************/

.post {
    display: flex;
    flex-direction: column;
}

.post .title h1,
.post .date p,
.post .subtitle p {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: var(--line-height);
}

.post .title h1 {
    font-size: 3.5rem;
}

.date p{
    font-size: 0.9rem;
}

.subtitle p{
    font-size: 1rem;
}

.post .content {
    margin-top: 3rem;
}

@media (max-width: 768px) {
    
    .post .title {
        max-width: 90%;
        margin: 0 auto;
    }

    .post .subtitle {
        max-width: 75%;
        margin: 0 auto;
    }

    .post .date p {
        font-size: 0.8rem;
    }
    .post .title h1 {
        font-size: 2.2rem;
    }
    .post .subtitle p {
        font-size: 0.9rem;
    }
}